body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.clock {
    border: 10px solid black;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    background-image: url("horloge.png");
    background-size: cover;
}

.clock .hand {
    --rotation: 0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform-origin: bottom;
    z-index: 10;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}

.clock::after {
    content: '';
    position: absolute;
    background-color: black;
    z-index: 11;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 40%;
}

.clock .hand.second {
    width: 3px;
    height: 10%;
    background-color: red;
}

.clock .hand.minute {
    width: 7px;
    height: 15%;
    background-color: black;
}

.clock .hand.hour {
    width: 10px;
    height: 20%;
    background-color: black;
}